<h1>
  {{title}}
</h1>
<h2>
  {{test2}}
</h2>
<!--<ul>-->
  <!--<li *ngFor="let hero of heroes">-->
    <!--{{ hero }}-->
  <!--</li>-->
<!--</ul>-->
<hr>
<p *ngIf="heroes.length > 2">There aer many heroes</p>

<!--<button (click)="onclickMe()">Click me!</button>-->
<!--<input #box (keyup)="onKey(box.value)">-->
<!--<p>{{values}}</p>-->
<hr>
<!--<input #box (keyup.enter)="onEnter(box.value)">-->
<!--<input #box (keyup.enter)="updata(box.value)"-->
<!--(blur)="updata(box.value)">-->
<!--<p>{{value}}</p>-->
<!--<input #box (keyup)="0" )>-->
<!--<p>{{box.value}}</p>-->
<input #newHero (keyup.enter)="addHero(newHero.value); newHero.value=''"
       (blur)="addHero(newHero.value); newHero.value='' ">
<button (click)="addHero(newHero.value)">ADD</button>
<ul>
  <li *ngFor="let hero of heroes">
    {{hero}}
  </li>
</ul>